<div class="container py-4">
  <div class="row">
    <div class="col-md-4">
      <div class="lc-block">
        <div editable="rich">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="lc-block">
        <div editable="rich">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada
            placerat sit amet quis enim. Aliquam erat volutpat. In pellentesque scelerisque auctor. Ut
            porta lacus eget nisi fermentum lobortis. Vestibulum facilisis tempor
            ipsum, ut rhoncus magna ultricies laoreet. Proin vehicula erat eget libero accumsan iaculis.
          </p>
          <p>Nunc et metus id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat. In pellentesque
            scelerisque auctor.Nunc et metus id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat. In
            pellentesque scelerisque auctor.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="lc-block text-center">
        <img class="img-fluid" src="https://cdn.livecanvas.com/media/svg/manypixels/looking_for_idea_with_team.svg"
          alt="" loading="lazy">
      </div>
    </div>
  </div>
</div>
