<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="lc-block">
        <span editable="inline" class="small mt-4 d-block">LOREM IPSUM</span>
        <h2 editable="inline" class="display-2 mb-0"><b>Services</b></h2>
        <p editable="inline" class=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id
          <br>ligula malesuada placerat sit amet quis enim.
        </p>
      </div>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-md-4 text-center">
      <div class="lc-block">
        <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/social-growth.svg"
          style="height:10vh">
        <h4 class="my-3" editable="inline"></h4>
        <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. </p>
      </div><!-- /lc-block -->
    </div>
    <div class="col-md-4 text-center">
      <div class="lc-block">
        <img class="img-fluid" alt="" src="https://cdn.livecanvas.com/media/svg/undraw/finance.svg" style="height:10vh">
        <h4 class="my-3" editable="inline"></h4>
        <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. </p>
      </div><!-- /lc-block -->
    </div>
    <div class="col-md-4 text-center">
      <img class="img-fluid" alt="" src="https://cdn.livecanvas.com/media/svg/undraw/real-time-sync.svg"
        style="height:10vh">
      <h4 class="my-3" editable="inline"></h4>
      <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. </p>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-md-4 text-center">
      <img class="img-fluid" alt="" src="https://cdn.livecanvas.com/media/svg/undraw/social-media.svg"
        style="height:10vh">
      <h4 class="my-3" editable="inline"></h4>
      <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. </p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-fluid" alt="" src="https://cdn.livecanvas.com/media/svg/undraw/time-management.svg"
        style="height:10vh">
      <h4 class="my-3" editable="inline"></h4>
      <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. </p>
    </div>
    <div class="col-md-4 text-center">
      <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/filing-system.svg"
        style="height:10vh">
      <h4 class="my-3" editable="inline"></h4>
      <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. </p>
    </div>
  </div>
</div>
