<div class="container-fluid g-0">
  <div class="row mb-4 align-items-center">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <div class="lc-block text-center">
        <img class="img-fluid " src="https://cdn.livecanvas.com/media/svg/isometric/app_development_SVG.svg" width="400"
          height="400" loading="lazy">
      </div><!-- /lc-block -->
    </div><!-- /col -->
    <div class="col-lg-6 p-lg-6">
      <div class="lc-block mb-5">
        <div editable="rich">

          <h2 class="display-6 fw-bold">
            Boostez votre créativité</h2>

          <p class="lead"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. Etiam
            diam metus.</p>
        </div>
      </div><!-- /lc-block -->
      <!-- /lc-block -->
      <div class="lc-block">
        <div class="d-inline-flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary"
              viewBox="0 0 16 16" lc-helper="svg-icon">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
              </path>
            </svg>
          </div>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
      <div class="lc-block">
        <div class="d-inline-flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary"
              viewBox="0 0 16 16" lc-helper="svg-icon">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
              </path>
            </svg>
          </div>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="lc-block">
        <div class="d-inline-flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary"
              viewBox="0 0 16 16" lc-helper="svg-icon">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
              </path>
            </svg>
          </div>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Aenean vel nisi in ipsum congue</p>
          </div>
        </div>
      </div><!-- /lc-block -->
    </div><!-- /col -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="lc-block">
          <span editable="inline" class="small mt-4 d-block">LOREM IPSUM</span>
          <h2 editable="inline" class="display-2 mb-0"><b>Features</b></h2>
          <p editable="inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id <br>ligula
            malesuada placerat sit amet quis enim.</p>
        </div><!-- /lc-block -->
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="p-lg-5 p-4 shadow">
          <div class="lc-block mb-4"><img alt="" class="img-fluid"
              src="https://cdn.livecanvas.com/media/svg/undraw/product-teardown.svg" style="height:10vh">


            <h4 class="my-3" editable="inline"></h4>
            <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est.&nbsp;
            </p>


            <a class="btn btn-outline-primary" href="#" role="button">Read more</a>
          </div><!-- /lc-block -->
        </div>
      </div><!-- /col -->
      <div class="col-md-4">
        <div class="p-lg-5 p-4 shadow">
          <div class="lc-block mb-4">
            <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/selfie.svg"
              style="height:10vh">


            <h4 class="my-3" editable="inline"></h4>
            <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est.&nbsp;
            </p>


            <a class="btn btn-outline-primary" href="#" role="button">Read more</a>
          </div><!-- /lc-block -->
        </div>
      </div><!-- /col -->
      <div class="col-md-4">
        <div class="p-lg-5 p-4 shadow">
          <div class="lc-block mb-4">
            <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/add-files.svg"
              style="height:10vh">

            <h4 class="my-3" editable="inline"></h4>
            <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est.&nbsp;
            </p>

            <a class="btn btn-outline-primary" href="#" role="button">Read more</a>
          </div><!-- /lc-block -->
        </div>
      </div><!-- /col -->
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="p-lg-5 p-4 shadow">
          <div class="lc-block mb-4">
            <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/delivery.svg"
              style="height:10vh">

            <h4 class="my-3" editable="inline"></h4>
            <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est.&nbsp;
            </p>

            <a class="btn btn-outline-primary" href="#" role="button">Read more</a>
          </div><!-- /lc-block -->
        </div>
      </div><!-- /col -->
      <div class="col-md-4">
        <div class="p-lg-5 p-4 shadow">
          <div class="lc-block mb-4">
            <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/no-data.svg"
              style="height:10vh">

            <h4 class="my-3" editable="inline"></h4>
            <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est.&nbsp;
            </p>

            <a class="btn btn-outline-primary" href="#" role="button">Read more</a>
          </div><!-- /lc-block -->
        </div>
      </div><!-- /col -->
      <div class="col-md-4">
        <div class="p-lg-5 p-4 shadow">
          <div class="lc-block mb-4">
            <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/select.svg"
              style="height:10vh">

            <h4 class="my-3" editable="inline"></h4>
            <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est.&nbsp;
            </p>


            <a class="btn btn-outline-primary" href="#" role="button">Read more</a>
          </div><!-- /lc-block -->
        </div>
      </div><!-- /col -->
    </div>
  </div>
  <!-- Pricing -->
  <div class="container py-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="lc-block mb-4"><span editable="inline" class="mt-4 d-block lead">OUR PRICING PLANS</span>
          <h2 editable="inline" class="display-2 mb-3"><b>Find the Right Tier.</b></h2>
          <p editable="inline" class="text-secondary">Flexible pricing options for freelancers and design teams. No
            Credit Card required!<br></p>
        </div><!-- /lc-block -->
      </div>
    </div>
    <div class="row mt-4" id="pricing">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="lc-block py-3 shadow-sm bg-dark text-white rounded">

          <div class="lc-block mb-4 text-left px-4"> <svg class="text-warning" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="2em" height="2em" viewBox="0 0 24 24"
              style="" lc-helper="svg-icon" fill="currentColor">
              <path
                d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M7.07,18.28C7.5,17.38 10.12,16.5 12,16.5C13.88,16.5 16.5,17.38 16.93,18.28C15.57,19.36 13.86,20 12,20C10.14,20 8.43,19.36 7.07,18.28M18.36,16.83C16.93,15.09 13.46,14.5 12,14.5C10.54,14.5 7.07,15.09 5.64,16.83C4.62,15.5 4,13.82 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,13.82 19.38,15.5 18.36,16.83M12,6C10.06,6 8.5,7.56 8.5,9.5C8.5,11.44 10.06,13 12,13C13.94,13 15.5,11.44 15.5,9.5C15.5,7.56 13.94,6 12,6M12,11A1.5,1.5 0 0,1 10.5,9.5A1.5,1.5 0 0,1 12,8A1.5,1.5 0 0,1 13.5,9.5A1.5,1.5 0 0,1 12,11Z">
              </path>
            </svg>

            <span editable="inline" class="ml-2 fw-light">Individual</span>
          </div>
          <div class="lc-block mb-5 px-4">
            <div editable="rich">
              <h2 class="text-light">Professional</h2>

              <p class="h5">$19.99 <span class="text-secondary fw-light">/month</span></p>
            </div>
          </div>

          <div class="lc-block mb-5 text-left">
            <div editable="rich">

              <ul>
                <li>1 users</li>
                <li>20 TB of secure storage</li>
                <li>Premium productivity features and simple, secure file sharing</li>
              </ul>
            </div>
          </div>
          <div class="lc-block mb-4 text-center"><a class="btn btn-outline-danger " href="#" role="button">Try free for
              30 days</a></div><!-- /lc-block -->
        </div>
      </div>
      <!-- /col -->
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="lc-block py-3 rounded shadow">
          <div class="lc-block mb-4 text-left px-4"> <svg xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="text-primary" width="2em" height="2em"
              viewBox="0 0 24 24" style="" lc-helper="svg-icon" fill="currentColor">
              <path
                d="M19 17V19H7V17S7 13 13 13 19 17 19 17M16 8A3 3 0 1 0 13 11A3 3 0 0 0 16 8M19.2 13.06A5.6 5.6 0 0 1 21 17V19H24V17S24 13.55 19.2 13.06M18 5A2.91 2.91 0 0 0 17.11 5.14A5 5 0 0 1 17.11 10.86A2.91 2.91 0 0 0 18 11A3 3 0 0 0 18 5M7.34 8.92L8.5 10.33L3.75 15.08L1 12.08L2.16 10.92L3.75 12.5L7.34 8.92">
              </path>
            </svg>

            <span editable="inline" class="ml-2 fw-light">Small Team</span>
          </div>
          <div class="lc-block mb-5 px-4">
            <div editable="rich">
              <h2 class=" ">Standard</h2>

              <p class="h5 text-primary">$39.99 <span class="text-secondary fw-light">/month</span></p>
            </div>
          </div>

          <div class="lc-block mb-5 text-left">
            <div editable="rich">

              <ul>
                <li> 2 users</li>
                <li> 20 TB of secure storage</li>
                <li> Premium productivity features and simple, secure file sharing</li>
              </ul>
            </div>
          </div>
          <div class="lc-block mb-4 text-center"><a class="btn btn-outline-danger " href="#" role="button">Try free for
              30 days</a></div><!-- /lc-block -->
        </div>
      </div><!-- /col -->
      <div class="col-lg-4 ">
        <div class="lc-block py-3 rounded border">
          <div class="lc-block mb-4 text-left px-4"> <svg xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="text-primary" width="2em" height="2em"
              viewBox="0 0 24 24" style="" lc-helper="svg-icon" fill="currentColor">
              <path
                d="M5,3V21H11V17.5H13V21H19V3H5M7,5H9V7H7V5M11,5H13V7H11V5M15,5H17V7H15V5M7,9H9V11H7V9M11,9H13V11H11V9M15,9H17V11H15V9M7,13H9V15H7V13M11,13H13V15H11V13M15,13H17V15H15V13M7,17H9V19H7V17M15,17H17V19H15V17Z">
              </path>
            </svg>

            <span editable="inline" class="ml-2 fw-light">Large Team</span>
          </div>
          <div class="lc-block mb-5 px-4">
            <div editable="rich">
              <h2 class=" ">Ultimate</h2>

              <p class="h5 text-primary">$99.99 <span class="text-secondary fw-lighter">/month</span></p>
            </div>
          </div>

          <div class="lc-block mb-5 text-left">
            <div editable="rich">

              <ul>
                <li>+20 users</li>
                <li>100 TB of secure storage</li>
                <li> Premium productivity features and simple, secure file sharing</li>
              </ul>
            </div>
          </div>
          <div class="lc-block mb-4 text-center"><a class="btn btn-outline-danger" href="#" role="button">Try free for
              30 days</a></div><!-- /lc-block -->
        </div>
      </div><!-- /col -->
    </div>
  </div>
  <!-- Teams -->

  <div class="container">
    <div class="row text-center pb-5 pt-3">
      <div class="col-md-12 text-center">
        <div class="lc-block"><span editable="inline" class="small mt-4 d-block">LOREM IPSUM</span>
          <h2 editable="inline" class="display-2 mb-0"><b>Our Team</b></h2>
          <p editable="inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id <br>ligula
            malesuada placerat sit amet quis enim.</p>
        </div><!-- /lc-block -->
      </div>
    </div>
    <div class="row pb-4">
      <!-- Team Start -->
      <div class="col-md-6 col-lg-3 my-2">
        <div class="lc-block">
          <img
            src="https://images.unsplash.com/photo-1552001524-c417c1e72080?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1322&amp;q=80"
            title="" alt="" loading="lazy" class="img-fluid">
        </div>
        <div class="lc-block position-relative text-center mx-2 mt-n4 py-4 bg-light shadow" style="">
          <h4 editable="inline">Benjamin Lawrence</h4>
          <p editable="inline" class="small">Founder &amp; CEO</p>
          <div class="nav justify-content-center">
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor" class="me-1">
                <path
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                </path>
              </svg> </a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor" class="me-1">
                <path
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                </path>
              </svg> </a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor">
                <path
                  d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                </path>
              </svg> </a>
          </div>
        </div>
      </div>
      <!-- Team end -->
      <!-- Team Start -->
      <div class="col-md-6 col-lg-3 my-2">
        <div class="lc-block">
          <img
            src="https://images.unsplash.com/photo-1551981326-8deeb7e63b5d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1338&amp;q=80"
            title="" alt="" loading="lazy" class="img-fluid">
        </div>
        <div class="lc-block position-relative text-center mx-2 mt-n4 py-4 bg-light shadow" style="">
          <h4 editable="inline">Robert Greene</h4>
          <p editable="inline" class="small">UX Designer</p>
          <div class="nav justify-content-center">
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor" class="me-1">
                <path
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                </path>
              </svg> </a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor" class="me-1">
                <path
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                </path>
              </svg> </a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor">
                <path
                  d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                </path>
              </svg> </a>
          </div>
        </div>
      </div>
      <!-- Team end -->
      <!-- Team Start -->
      <div class="col-md-6 col-lg-3 my-2">
        <div class="lc-block">
          <img
            src="https://images.unsplash.com/photo-1552001527-c229a3b41327?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80"
            title="" alt="" loading="lazy" class="img-fluid">
        </div>
        <div class="lc-block position-relative text-center mx-2 mt-n4 py-4 bg-light shadow" style="">
          <h4 editable="inline">Paul Mackenzie</h4>
          <p editable="inline" class="small">Full Stack Developer</p>
          <div class="nav justify-content-center">
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor" class="me-1">
                <path
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                </path>
              </svg> </a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor" class="me-1">
                <path
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                </path>
              </svg> </a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor">
                <path
                  d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                </path>
              </svg> </a>
          </div>
        </div>
      </div>
      <!-- Team end -->
      <!-- Team Start -->
      <div class="col-md-6 col-lg-3 my-2">
        <div class="lc-block">
          <img
            src="https://images.unsplash.com/photo-1542412466-747de1979985?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1348&amp;q=80"
            title="" alt="" loading="lazy" class="img-fluid">
        </div>
        <div class="lc-block position-relative text-center mx-2 mt-n4 py-4 bg-light shadow" style="">
          <h4 editable="inline">Faith Watson</h4>
          <p editable="inline" class="small">Illustrator Designer</p>
          <div class="nav justify-content-center">
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor" class="me-1">
                <path
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                </path>
              </svg> </a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor" class="me-1">
                <path
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                </path>
              </svg> </a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="1em" height="1em"
                lc-helper="svg-icon" fill="currentColor">
                <path
                  d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                </path>
              </svg> </a>
          </div>
        </div>
      </div>
      <!-- Team end -->
    </div>
  </div>
